table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid var(--black);
    padding: var(--table-space-size);
    text-align: center;
}

td {
    background-color: var(--white-1);
    color: var(--black);
}

th {
    background-color: var(--black);
    color: var(--white);
}
