.card {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.card--small-spacing {
    padding: var(--small-space-size);
}

.card--base-spacing {
    padding: var(--base-space-size);
}

.card--large-spacing {
    padding: var(--large-space-size);
}

.card--user-info {
    padding: var(--base-space-size);
    margin-bottom: var(--small-space-size);
    flex-direction: column;
    gap: var(--small-space-size);
    border: solid 1px var(--black);
    border-radius: 30px;
    box-shadow: 10px 5px 5px var(--black);
    background-color: var(--pastel-blue);
}
